{% extends 'base/main.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'accounts/css/loginsystem.css' %}">
{% endblock static %}

{% block content %}
    <div class="main-wrapper">
        <form action="" method="post">
            <a href="/" class="exit">&#215;</a>
            <h1>Login</h1>
            {% if request.session.invalid_user == 1 %}
                <div class="info">Invalid login or password</div>
            {% endif %}
            {% csrf_token %}
            {% for f in form %}
            <div class="form-row">
                <div class="error">
                    {% if f.errors %}
                        {% for error in f.errors %} {{error}} {% endfor %}
                    {% endif %}
                </div>
                <div class="inline">
                    <label>{{f.label}}:</label>
                    {{f}}
                </div>
            </div>
            {% endfor %}
            <button type="submit" name="sign-in">Login</button>
            <a href="{% url 'register' %}">Don't have an account? Register here!</a>
        </form>
    </div>
{% endblock content %}