  <nav>
    <div class="nav-left">
      <div class="logo">
          <a href="/">CV-creator</a>
      </div>
    </div>

    <div class="nav-center">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Reviews</a></li>
      </ul>
    </div>

    <div class="nav-right">
    {% if not request.user.is_authenticated %}
      <a href="{% url 'login' %}">
        <div class="sign-in-button">
          Sign In
        </div>
      </a>
      <a href="{% url 'register' %}">
        <div class="register-button">
          Register
        </div>
      </a>
    {% else %}
      <a href="{% url 'logout' %}">
        <div class="sign-in-button">
          Logout
        </div>
      </a>
    {% endif %}
    </div>
  </nav>